body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 0px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	width: 100%;
	max-width: 555px;
	background: #DEEEFC;
	border-radius: 4px;
	@include adaptiveValue("padding-top", 25, 15);
	@include adaptiveValue("padding-bottom", 47, 44);
	@include adaptiveValue("padding-left", 35, 21);
	@include adaptiveValue("padding-right", 35, 21);

	.popup_video & {
		max-width: 1100px;
		padding: 0;
	}

	.lock & {
		visibility: visible;
	}

	iframe {
		@include adaptiveValue("height", 600, 250);
		width: 100%;
	}
}
.popup__close {
	font-size: rem(25);
	background-color: transparent;
	color: $blueColor;
	position: absolute;
	@include adaptiveValue("top", 30, 21);
	@include adaptiveValue("right", 35, 21);

	.popup_video & {
		position: fixed !important;
		top: 0;
		right: 0;
	}
}

.popup-form {
	// .popup-form__title

	&__title {
		font-weight: 500;
		@include adaptiveValue("font-size", 30, 20);
		line-height: 1.6;
		color: #061224;
		&:not(:last-child) {
			margin-bottom: rem(9);
		}
	}

	// .popup-form__text

	&__text {
		line-height: 1.4;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}

	// .popup-form__inner

	&__inner {
		max-width: rem(300);
		margin: 0 auto;
	}

	// .popup-form__inner

	&__img {
		@include adaptiveValue("width", 220, 143);
		margin: 0 auto;
	}
}

.popup-demo {

	// .popup-demo__wraper

	&__wraper {
	}

	// .popup-demo__content

	&__content {
	}

	// .popup-demo__inner

	&__inner {
	}

	// .popup-demo__close

	&__close {
	}

	// .popup-demo__title

	&__title {
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}

	// .popup-demo__text

	&__text {
		@include adaptiveValue("max-width", 360, 230);
		margin: 0 auto;
		&:not(:last-child) {
			margin-bottom: rem(25);
		}
	}
}
