.about-content {
  @include adaptiveValue("padding-top", 23, 9);
  padding-bottom: rem(29);

  // .about-content__container

  &__container {
  }

  // .about-content__title

  &__title {
  }

  // .about-content__image-ibg

  &__image-ibg {
  }

  // .about-content__text

  &__text {
  }

  // .about-content__row

  &__row {
    max-width: rem(1060);
    display: flex;
    justify-content: space-between;
    column-gap: rem(20);
    row-gap: rem(30);
    @media (min-width:$mobile){
      align-items: center;
    }
    @media (max-width:$mobile){
      flex-direction: column;
    }
  }

  // .about-content__img

  &__img {
    @media (min-width:$mobile){
      flex: 0 0;
      @include adaptiveValue("flex-basis", 530, 410, 0, 1920, 767); 
    }
    @media (max-width:$mobile){
      img {
        @include adaptiveValue("max-height", 320, 120, 0, 767, 320);
      }
    }
  }

  // .about-content__row-content

  &__row-content {
    @media (min-width:$mobile){
      flex: 0 0;
      @include adaptiveValue("flex-basis", 420, 240, 0, 1920, 767); 
    }
  }

  // .about-content__row-text

  &__row-text {
    &:not(:last-child) {
      margin-bottom: rem(7);
    }
  }

  // .about-content__row-text

  &__row-text-main {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 23, 13);
    }
    @media (max-width:$mobile){
      @include adaptiveValue("max-width", 350, 240, 0, 767, 320);
      margin: 0 auto; 
    }
  }

  // .about-content__logo

  &__logo {
    @include adaptiveValue("max-width", 242, 188, 0, 1920, 767);
    margin: 0 auto;
  }
}

.about-padding {
  display: flex;
  flex-direction: column;
  @include adaptiveValue("row-gap", 24, 20);
}