.article-page {
  @include adaptiveValue("padding-top", 24, 9);
  @include adaptiveValue("padding-bottom", 48, 31);

  // .article-page__container

  &__container {
    @include adaptiveValue("row-gap", 24, 9);
  }

  // .article-page__top

  &__top {
    @include adaptiveValue("row-gap", 24, 9);
  }

  // .article-page__title

  &__title {
  }

  // .article-page__tags

  &__tags {
  }

  // .article-page__content

  &__content {
    @media (min-width:$mobile){
      columns: 2;
      @include adaptiveValue("column-gap", 65, 25, 0, 1920, 767);
    }
  }

  // .article-page__text

  &__text {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("row-gap", 31, 16);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10);
    }
  }

  // .article-page__img

  &__img {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 36, 22);
    }

    img {
      @media (max-width:$mobile){
        @include adaptiveValue("max-height", 360, 161, 0, 767, 320); 
      }
    }
  }
}

//========================================================================================================================================================

.sociable {
  @include adaptiveValue("padding-bottom", 35, 80);

  // .sociable__container

  &__container {
  }

  // .sociable__title

  &__title {
    font-weight: 500;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 42, 21);
    }
  }

  // .sociable__items

  &__items {
    column-gap: rem(55);
  }

  // .sociable__item

  &__item {
    @include adaptiveValue("font-size", 25, 17);
    color: $blueColor;
    transition: all 0.4s ease 0s;
  
    @media (any-hover: hover){
      &:hover{
        color: #093c88;
      }
    }
  }
}

//========================================================================================================================================================


.article-nav {
  padding-bottom: rem(45);

  // .article-nav__container

  &__container {
    max-width: rem(990);
  }

  // .article-nav__item

  &__item {
    flex: 0 0;
    @include adaptiveValue("flex-basis", 210, 130, 0, 767, 320);
    @include adaptiveValue("row-gap", 19, 8);
  }

  // .article-nav__title

  &__title {
    @include adaptiveValue("font-size", 22, 14, 0, 767, 320);
  }

  // .article-nav__text

  &__text {
    font-weight: 500;
    @include adaptiveValue("font-size", 14, 12);
    line-height: 171.428571%; /* 24/14 */
  }
}

