// Заголовки, загальні БЕМ блоки та інше...


.bg-w {
  background: #fff;
}

.bg-g {
  background: #D8F1F0;
}

main:not(.home) {
  padding-top: rem(110);

  @media (max-width:$tablet){
    padding-top: rem(80);
  }
}

.logo {
  flex: 0 0 rem(130);
  width: rem(130);

  @media (max-width:$mobileSmall){
    flex: 0 0 rem(90);
    width: rem(90);
  }
}

.hhv-blue {
  transition: all 0.4s ease 0s;

  @media (any-hover: hover){
    &:hover{
      color: $blueColor;
      opacity: 1;
    }
  }
}

.title {
  font-weight: 500;
  @include adaptiveValue("font-size", 40, 25);
  line-height: 1.14;
  font-family: 'IBM Plex Serif';

  // .title_center

  &_center {
    text-align: center;
  }

  // title_sans

  &_sans {
    font-family: 'IBM Plex Sans';
    font-weight: 600;
  }

  // .title_s22

  &_s22 {
    @include adaptiveValue("font-size", 22, 20);
    line-height: 104.545455%; /* 23/22 */
  }
  
  // .title_s30

	&_s30 {
    @include adaptiveValue("font-size", 30, 20);
  }
}

.text {
  line-height: 1.56;
  @include adaptiveValue("font-size", 18, 14);
}

.link {
  font-weight: 600;
  font-size: rem(16);
  line-height: 150%; /* 24/16 */
  letter-spacing: 0.155em;
  text-transform: uppercase;

  // .link_fw-500

  &_fw-500 {
    font-weight: 500;
  }

  // .link_blue

  &_blue {
    color: $blueColor;
  }
}

.content-block {
  display: flex;
  flex-direction: column;
  align-items: start;

  // .content-block__title

  &__title {
    font-weight: 500;
    @include adaptiveValue("font-size", 24, 18);
    line-height: 130%;
  }

  // .content-block__text

  &__text {
    @include adaptiveValue("font-size", 16, 14);
    line-height: 130%;
    letter-spacing: 0.04em;
  }

  // .content-block__btn

  &__btn {
    font-weight: 700;
    @include adaptiveValue("font-size", 16, 12);
    line-height: 130%;
    letter-spacing: 0.04em;

    // .content-block__btn_s14

    &_s14 {
      @include adaptiveValue("font-size", 14, 12);
    }

    // .content-block__btn_s12

    &_s12 {
      font-size: rem(12);
    }
  }
}
//========================================================================================================================================================


.swiper-pagination {
  display: flex;
  justify-content: center;  
  align-items: center;
  gap: rem(25);

  // .swiper-pagination_nums

  &_nums {
  }

  // .swiper-pagination_absolute

  &_absolute {
    position: absolute;
    @include adaptiveValue("bottom", 30, 13);
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }
}

.swiper-pagination-bullet {
  border: 2px solid #1064E5;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background: #1064E5;
}

//========================================================================================================================================================


.items-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: rem(12);
  @include adaptiveValue("column-gap", 55, 20, 0, 1920, 767);

  @media (max-width:$tablet){
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width:$mobileSmall){
    grid-template-columns: 1fr; 
  }
}

.item-articles {
  display: flex;
  flex-direction: column;
  @include adaptiveValue("gap", 12, 8);

  // ..item-articles_home

  &_home {
    @media (max-width:$tablet) and (min-width:$mobileSmall){
      &:not(&:first-child, &:nth-child(2)) {
        display: none;
      }
    }

    .item-articles__content {
      @media (min-width:$tablet){
         padding: 0 rem(15); 
      }
      @media (max-width:$tablet) and (min-width:$mobileSmall){
        @include adaptiveValue("padding-right", 40, 0, 0, 992, 480);
        @include adaptiveValue("padding-left", 40, 0, 0, 992, 480);

        &:not(&:first-child, &:nth-child(2)) {
          display: none;
        }
      }
    }
  }

  // .item-articles__image-ibg

  &__image-ibg {
    @include adaptiveValue("padding-bottom", 371, 156);
    overflow: hidden;
    cursor: pointer;

    
    img {
      transition: all 0.6s ease 0s;
    }
    
    @media (any-hover: hover){
      &:hover{
        img {
          transform: scale(1.2);
        }
      }
    }

     // .item-articles__image-ibg_video

     &_video {
      position: relative;

      &::before,&::after{
        position: absolute;
        top: 50%;
        left: 50%;
      }

      &::before {
        z-index: 3;
        color: $blueColor;
        @include adaptiveValue("font-size", 38, 18);
        transform: translate(-33%, -50%);
      }
      &::after{
        content:'';
        transform: translate(-50%, -50%);
        z-index: 2;
        @include adaptiveValue("width", 102, 54);
        @include adaptiveValue("height", 102, 54);
        border-radius: 50%;
        background: #FFFFFF;
      }

      img {
        transform: scale(1) !important; 
      }
    }

    // .item-articles__image-ibg_h

    &_h {
      @include adaptiveValue("padding-bottom", 395, 299);
    }
  }

  // .item-articles__content

  &__content {
  }

  // .item-articles__date

  &__date {
    font-weight: 500;
    @include adaptiveValue("font-size", 14, 12);
    line-height: 1.71;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-bottom: rem(6);
    }
  }

  // .item-articles__title

  &__title {
    cursor: pointer;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 10, 8);
    }
    // .item-articles__title_s36

    &_s36 {
      @include adaptiveValue("font-size", 36, 20, 0, 1920, 767);
    }
  }

  // .item-articles__text 

  &__text {
    line-height: 122.222222%; /* 22/18 */
  }

  // .item-articles__tags

  &__tags {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 10, 6);
    }
  }

}
//========================================================================================================================================================


.path {

  // .path__container

  &__container {
    display: flex;
    align-items: center;
    column-gap: rem(17);
    row-gap: rem(6);
  }

  // .path__link

  &__link {
    font-weight: 500;
    font-size: rem(12);
    color: #061224;
    opacity: 0.6;
    position: relative;

    &:not(:last-child) {
      &::after{
        content:'';
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(20deg);
        right: rem(-9);
        height: rem(15);
        width: rem(1);
        background-color: #061224;
      } 
    }
  }
}

//========================================================================================================================================================


.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: rem(14);
  row-gap: rem(7);

  // .tags__item

  &__item {
    background: #E5E5E5;
    border-radius: 23px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #061224;
    font-weight: 500;
    font-size: rem(12);
    line-height: 200%; /* 24/12 */  
    padding: 0 rem(14);
    transition: all 0.4s ease 0s;
  
    @media (any-hover: hover){
      &:hover{
        background: #b6b4b4;
      }
    }
  }
}

//========================================================================================================================================================

.fog-img {
  position: relative;

  &::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(293.97deg, #FFFFFF -9.96%, rgba(255, 255, 255, 0) 111.88%);
    mix-blend-mode: hard-light;
    border-radius: 4px;
  }
}