//========================================================================================================================================================
// flexbox

.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}


.d-flex {
  display: flex;
}
.d-flex-inline {
  display: inline-flex;
}
.jc-center {
  justify-content: center;
}
.jc-start {
  justify-content: flex-start;
}
.jc-end {
  justify-content: flex-end;
}
.jc-sb {
  justify-content: space-between;
}
.ai-center {
  align-items: center;
}
.ai-start {
  align-items: flex-start;
}
.ai-end {
  align-items: flex-end;
}
.as-start {
  align-self: flex-start;
}
.as-strech {
  align-self: stretch;
}
.as-center {
  align-self: center;
}
.as-end {
  align-self: flex-end;
}
.js-start {
  justify-self: flex-start;
}
.js-end {
  justify-self: flex-end;
}
.js-center {
  justify-self: center;
}
.direction-col {
  flex-direction: column;
}
.direction-row {
  flex-direction: row;
}
.direction-col-rev {
  flex-direction: column-reverse;
}
.direction-row-rev {
  flex-direction: row-reverse;
}
.block-center {
  justify-content:center;
  align-items: center;
}
.f-wrap {
  flex-wrap: wrap;
}
.flx-auto {
  flex: 1 1 auto;
}
.flx-50 {
  flex: 0 0 50%;
}
.flx-33 {
  flex: 0 1 33.333%;
}

// grid ==================================================================================================
.d-grid {
  display: grid;
}

.col-33 {
  @include adaptiveValue("gap", 20, 8, 0, 767, 480);
  grid-template-columns: repeat(3, 1fr);
}
.col-50 {
  @include adaptiveValue("gap", 32, 16, 0, 767, 480);
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width:$mobileSmall){
  .col-vsm-20 {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-vsm-33 {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-vsm-50 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-vsm-100 {
    grid-template-columns: 1fr;
  }
}

@media (min-width:$mobileSmall){
  .col-sm-20 {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-sm-33 {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-sm-50 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-sm-100 {
    grid-template-columns: 1fr;
  }
}

@media (min-width:$mobile){
  .col-md-20 {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-md-33 {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-md-50 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-md-100 {
    grid-template-columns: 1fr;
  }
}

@media (min-width:$tablet){
  .col-lg-20 {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-lg-33 {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-lg-50 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-lg-100 {
    grid-template-columns: 1fr;
  }
}

@media (min-width:$pc){
  .col-xl-20 {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-xl-33 {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-xl-50 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-xl-100 {
    grid-template-columns: 1fr;
  }
}


//========================================================================================================================================================
// margin
.m-auto {
  margin: 0 auto;
}
//========================================================================================================================================================
// font-weight
.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}
//========================================================================================================================================================
//border 
.border-round {
  border-radius: 50%;
}
//========================================================================================================================================================
// images
.img-fluid {
  max-width: 100%;
  height: auto;
}
.img-w-100p {
  width: 100%;
  height: auto;
}
//========================================================================================================================================================
//colors
.color-black {
  color: #000;
}
.bg-black {
  background-color: #000;
}
.color-white {
  color: #fff;
}
.bg-white {
  background-color: #fff !important;
}
//========================================================================================================================================================
//text
.text-center {
  text-align: center;
}
.text-start {
  text-align: start !important;
}
.text-end {
  text-align: end;
}
.hidden {
  display: none;
}
.anim-hidden {
  height: 0 !important;
  opacity: 0;
}

// Positions
.pos-sticky {
  position: sticky;
}
.pos-relative {
  position: relative;
}

.w-space-no-wrap {
  white-space: nowrap;
}

// Colors ========================================================================================================================================================

.white-color {
  color: #fff !important;
}
.main-color {
  color: #F6F8FA !important;
}
.color-F6F2FF {
  color: #F6F2FF !important;
}
.dark-grey-color {
  color: #ABABB2;
}
.grey-color {
  color: #A5A9B4;
}
// .purple-color {
//   color: $purpleColor;
// }
.color-636872 {
  color: #636872 !important;
}

.bg-212121 {
  background-color: #212121;
}

.bg-1C1C1C {
  background-color: #1C1C1C;
}